.azul{ 
max-width: 720px;
    padding: 100px; 
    margin: 0 auto;
    } 
    .amarela{ 
    background-color: rgb(235, 211, 34); 
    padding: 100px; 
    margin: 20px; 
    box-sizing: border-box;
    } 

    .esticar{ 
        padding-right: 340px;
       } 

       .alongar{ 
        padding-bottom: 300px;
       } 

       .estilongar{ 
        padding-top:540px;
       } 


    .espinar{ 
        padding-right: 240px;
       } 

    .flex{ 
    display: flex; 
    }

    body 
    {
            background-color: rgb(37, 167, 197); 
    }