body {
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: yellow;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 3em;
    margin: 0;
}

header .logo {
    width: 600px;
    height: auto;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #333;
    border-radius: 8px;
}

h2 {
    font-size: 2em;
    color: yellow;
}

.aliado-img, .vilao-img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

ul li p {
    margin-left: 15px;
    font-size: 1.1em;
}

footer {
    background-color: #000;
    color: yellow;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
